/*
* === FIRMENLOGO ZENTRIERT BEI LOGIN UND REGISTRATION ===
*/
#logo {
    text-align: center;
    margin: 10% auto 10% auto;
}

/*
* === MARGIN DEFAULT VON ROW UND CONTAINER ENTFERNEN ===
*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}

/*
* === LOGIN PANEL BORDER ENTFERNT ===
*/
.panel-default {
    border: none;
}

/*
* === LOGIN PANEL SCHATTEN ENTFERNT ===
*/
.panel {
    box-shadow: none !important;
}

/*
* === MENU ABSTAND RECHTS IM NAVBAR CONTAINER ===
*/
.navbar-right {
    padding-right: 30px;
}

/*
* === BREITE DES SUBMITBUTTON ===
*/
.submitbutton {
    width: 100%;
}

/*
* === LOGO BEI LOGIN UND REGISTRATION RESPONSIVE UND DENNOCH ZENTRIERT ===
*/
.img-responsive {
    display: inline;
}

/*
* === GESTALTUNG DES NAVBARS ===
*/
.brand-left {
    display: flex;
    justify-content: left;
    position: absolute;
    width: 100%;
    padding-left: 5px;
    left: 0;
    top: 0;
}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

/*
* === FIRMENLOGO ===
*/
.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}

/*
* === DROPDOWNMENU ERSCHEINT BEI :HOVER ===
*/
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    margin-top:0px
}
/* Top Menu Höhe */
.container-fluid{
    height: 60px;
}

/*
* === FLUGLISTEN DARSTELLUNG ===
*/
.flightlist {
    border: solid 0.5px gainsboro;
    border-radius: 5px;
}

.flightlist h1 {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.flightweather {
    margin-top: 20px;
}

.flightcontainer img {
    margin-bottom: 20px;
}

.weather {
    font-size: 1.5em;
}

/*
* === PRIMARYBUTTON FARBE ===
*/
.btn-primary {
    background-image: linear-gradient(to bottom, #0067d3 0%,#0067d3 100%) !important;
    border-color: #0067d3;
}

/*
* === PRIMARYBUTTON FARBE BEI :HOVER ===
*/
.btn-primary:hover {
    background-color: black !important;
    background-position: 0 +40px !important;
    border-color: black;
}

/*
* === SCHRIFTGRÖSSE DETAILTEXT ===
*/
.flightDetailText {
    margin-bottom: 20px;
}

/*
* === BORDER UM DIE FLUGINFORMATIONEN / MARGINEINSTELLUNGEN ===
*/
.flightdetail {
    border: solid 0.5px gainsboro;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    padding-right: 30px;
}

/*
* === BORDER UM DIE FLUGTRACKERKARTE / MARGINEINSTELLUNGEN ===
*/
.flightdetailmap {
    border: solid 0.5px gainsboro;
    margin: 20px 0px 20px 20px;
    border-radius: 5px;
}

/*
* === BORDER UM DIE WETTERDETAILS / MARGINEINSTELLUNGEN ===
*/
.flightdetailweather {
    border: solid 0.5px gainsboro;
    margin: 20px 0px 20px 20px;
    border-radius: 5px;
}

/*
* === GESTALTUNG H2 IM DETAILTEXT ===
*/
.flightdetail h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: #0067d3;
}

/*
* === GESTALTUNG H1 IM DETAILTEXT ===
*/
.flightdetail h1 {
    margin-left: 12px;
    color: #0067d3;
}

/*
* === EINSTELLUNGEN KARTENBILD  IM DETAILBEREICH===
*/
.flightdetailmap img {
    margin: 0 auto 20px auto;
}

/*
* === GLEICHHOHE ELEMENTE AUF DETAILSEITE ===
*/
.row-height{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.inside {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-full-height {
    height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*
* === FLUGINFORMATIONEN AUF DETAILSEITE ===
*/
.flightdetailflight {
    border: solid 0.5px gainsboro;
    border-radius: 5px;
    margin: 20px 0px 20px 20px;
    padding-bottom: 15px;
}

/*
* === H4 IN FLUGINFORMATIONEN ===
*/
.flightdetailflight h4{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

/*
* === EINSTELLUNGEN FÜR SCREENS ÜBER 1200PX ===
*/
@media screen and (min-width: 1200px) {
    .flightlist {
        margin: 15px auto 15px auto;
    }
}

/*
* === EINSTELLUNGEN FÜR SCREENS ÜBER 960PX ===
*/
@media screen and (min-width: 960px) {
    .hidelarge {
        display: none;
    }
}

/*
* === EINSTELLUNGEN FÜR SCREENS UNTER 960PX ===
*/
@media screen and (max-width: 960px) {
    .hidemediumsmall {
        display: none;
    }

    .flightdetailweather {
        margin-top: 20px;
    }

}

/*
* === BILDERKARUSELL AUF FLUGDETAILSEITE ===
*/
.media-carousel
{
    padding: 0 40px 30px 40px;
    margin: 30px 30px 0px 30px;
}

/*
* === ZURÜCK BUTTON ===
*/
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}

/*
* === VORWÄRTS BUTTON ===
*/
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}

/*
* === POSITIONSÄNDERUNG DER INDIKATOREN ===
*/
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/*
* === FARBWECHSEL DER INDIKATOREN ===
*/
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
/*
* === BILDGRÖSSE FESTLEGEN ===
*/
.media-carousel img
{
    width: 200px;
    height: 100px
}
.listViewImage{
    max-height: 150px;
    max-width: 240px;
}

#map{
    height: 500px;
}